{
  "presets": [
    ["@babel/preset-typescript", {
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "safari >= 7", "Android >= 4.0"],
        "node": "6.10"
      },
      "modules": false
    }]
  ],
  "plugins": ["external-helpers"]
}